* {
    box-sizing: border-box;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}
.col-xs-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
.col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-xs-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.col-xs-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
.col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-xs-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
.col-xs-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
.col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.col-xs-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}
.col-xs-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}
.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media(min-width:768px) {
    .container {
        max-width: 720px;
    }
    .menu {
        overflow: auto;
    }
    .col-sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-sm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .we-are-modest-body-text-left-side {
        flex-shrink: 1.4;
    }
    .meet-the-team-body {
        display: flex;
        flex-wrap: wrap;
    }
    .features-section-body {
        display: flex;
        flex-wrap: wrap;
    }
}

@media(min-width:992px) {
    .container {
        max-width: 960px;
    }
    .menu {
        overflow: auto;
    }
    .col-md-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-md-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .we-are-modest-body-text-left-side {
        flex-shrink: 1.6;
    }
    .meet-the-team-body {
        display: flex;
        flex-wrap: wrap;
    }
    .features-section-body {
        display: flex;
        flex-wrap: wrap;
    }
}

@media(min-width:1200px) {
    .container {
        max-width: 1140px;
    }
    .col-lg-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-lg-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-lg-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-lg-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media(max-width:767px) {
    .header {
        background-color: #1d2126;
    }
    .header-row {
        flex-wrap: wrap;
        background-color: #1d2126;
    }
    .logo {
        height: 60px;
        line-height: 60px;
    }
    .menu {
        overflow: scroll;
        margin-bottom: 20px;
    }
    .col-xs-hidden {
        display: none;
    }
    .we-are-modest-body {
        flex-direction: column;
    }
    .we-are-modest-body-text-left-side {
        margin-bottom: 60px;
    }
    .meet-the-team-body {
        flex-direction: column;
        align-items: center;
    }
    .workers {
        max-width: 263px;
    }
    .lovely-work-body-gallery {
        flex-direction: column;
        justify-content: center;
    }
    .gallery-pictures > img {
        max-width: 100%;
        height: 265px;
    }
    .what-we-do-body-services {
        flex-direction: column;
        margin: 0 auto;
    }
    .features-section-body {
        display: flex;
        flex-direction: column;
    }
    .features-section-item-picture > a > img {
        max-width: 100%;
        height: 240px;
    }
    .features-section-item-information {
        max-width: 100%;
    }
    .stay-in-touch-body-contact-and-form {
        flex-direction: column;
    }
    .stay-in-touch-body-contact-info {
        min-width: 100%;
    }
    .footer-body {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        padding: 10px 0;
    }
    .footer-copyright {
        margin-bottom: 15px;
    }
    .footer-icons {
        margin-bottom: 15px;
    }
    .menu-mobile-burger {
        width: 15px;
        height: 15px;
        position: relative;
        top: 22px;
    }
    .menu-mobile-burger span {
        height: 1px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        right: 0;
        transition: .25s ease-in-out;
        text-align: right;
    }
    .menu-mobile-burger span:nth-child(1) {
        top: 3px;
    }
    .menu-mobile-burger span:nth-child(2) {
        top: 7px;
    }
    .menu-mobile-burger span:nth-child(3) {
        bottom: 3px;
    }
    .navigation {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 280px;
        max-width: 280px;
        transform: translateX(150%);
        transition: all 500ms ease-in-out;
    }
    .hidden-menu {
        opacity: 0;
        visibility: hidden;
    }
    .menu-mobile-burger.active-menu span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
    }
    .menu-mobile-burger.active-menu span:nth-child(2) {
        top: 50%;
        transform: rotate(-45deg);
    }
    .menu-mobile-burger.active-menu span:nth-child(3) {
        transform: scale(0);
    }
    .navigation.active-menu {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        padding: 25px;
        background-color: #1d2126;
        top: 35px;
        flex-direction: column;
    }
    .navigation.active-menu > .submenu {
        text-align: center;
        margin-bottom: 15px;
    }
}



/* Header + menu */

.header {
    background-color: #1d2126;
    height: fit-content;
    width: 100%;
    /* height: 80px; */
    line-height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}
.header-row {
    display: flex;
}
.logo {
    padding-top: 5px;
}
.menu {
    display: flex;
    color: #a4aead;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 25px;
}
.submenu {
    padding: 0 12px;
    border: 2px solid transparent;
    border-radius: 5px;
    height: 30px;
    line-height: 25px;
}
.submenu:hover {
    border: 2px solid #a4aead;
    border-radius: 5px;
}
.home {
    color: #23b7a4;
    border-color: #23b7a4;
}
.form-search {
    border: 2px solid #a4aead;
    border-radius: 5px;
    display: flex;
    margin-top: 25px;
}
.input-search-text {
    background-color: transparent;
    border: none;
    color: #a4aead;
    padding-left: 8px;
    width: 80%;
}
.input-search-text:focus-visible {
    outline: none;
}
.input-search-text::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #a4aead;
    text-transform: uppercase;
}
.input-search-button {
    width: 15px;
    height: 25px;
    line-height: 25px;
    background-color: transparent;
    border: none;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}
.input-search-button:focus {
    outline: none;
}


/* Main */

/* Slider */

.slider-in-main {
    background-image: url(images/slider.png);
    background-repeat: no-repeat;
    background-size: 1900px;
    height: 660px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.slider-text-header {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.slider-text-body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ccd0d7;
    max-width: 650px;
    line-height: 26px;
    padding-bottom: 40px;
}
.buttons {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 14px;
    line-height: 28px;
    font-weight: 700;
    color: #ffffff;
    width: 120px;
    height: 40px;
    border-radius: 5px;
}
.buttons:focus {
    outline: none;
}
.view-more {
    background-color: #23b7a4;
    border: 2px solid #23b7a4;
}
.view-more:hover {
    background-color: transparent;
    border: 2px solid #ffffff;
}
.video-tour {
    background-color: transparent;
    border: 2px solid #ffffff;
}
.video-tour:hover {
    background-color: #23b7a4;
    border: 2px solid #23b7a4;
}



/* We are modest section1 */

.section1 {
    border-bottom: 1px solid #dde1e4;
}
.we-are-modest {
    padding: 80px 0 100px;
}
.we-are-modest-head {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #292f36;
    text-transform: uppercase;
    border-left: 10px solid #e1e6ea;
    padding-left: 15px;
    margin-bottom: 65px;
}
.we-are-modest-body {
    display: flex;
}
.we-are-modest-body-text-left-side {
    display: flex;
    flex-direction: column;
    flex-shrink: 1.55;
    margin-right: 30px;
}
.we-are-modest-body-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #8d8f92;
    padding-bottom: 15px;
}
.we-are-modest-body-text > p {
    padding-bottom: 40px;
}
.we-are-modest-body-text > p > span {
    font-weight: 700;
}
.we-are-modest-body-net-icons {
    display: flex;
}
.we-are-modest-body-net-icons > div {
    width: 60px;
    height: 60px;
    background-color: #c8cdd0;
    margin-right: 1px;
}
.we-are-modest-body-net-icons > div:first-child {
    margin-right: 3px;
    margin-top: -1px;
}
.icon > a > img {
    margin-top: 6px;
    margin-left: 6px;
}
.we-are-modest-body-net-icons > div:hover {
    background-color: #d0d5d9;
    cursor: pointer;
}
.we-are-modest-body-main-points {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}
.point-with-number1, .point-with-number2, .point-with-number3 {
    display: flex;
    padding-bottom: 40px;
}
.point-with-number3:last-child {
    padding-bottom: 0;
}
.point-with-number1-square, .point-with-number2-square, .point-with-number3-square {
    min-width: 50px;
    height: 50px;
    color: #ffffff;
    background-color: #23b7a4;
    margin-right: 20px;
    text-align: center;
    line-height: 50px;
}
.point-with-number1-text > h3, .point-with-number2-text > h3, .point-with-number3-text > h3 {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #292f36;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.point-with-number1-text > p, .point-with-number2-text > p, .point-with-number3-text > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #8d8f92;
}



/* Meet the team - section2 */

.meet-the-team {
    padding: 80px 0 50px;
}
.meet-the-team-head {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #292f36;
    text-transform: uppercase;
    border-left: 10px solid #e1e6ea;
    padding-left: 15px;
    margin-bottom: 65px;
}
.meet-the-team-body {
    display: flex;
    justify-content: space-between;
}
.workers {
    margin-bottom: 50px;
    background-color: #e1e6ea;
    position: relative;
}
.workers:hover {
    background-color: #3a454d;
    color: #ffffff;
    opacity: 0.8;
}
.workers > .social-network-pages {
    display: none;
}
.workers:hover > .social-network-pages {
    display: block;
}
.workers:hover > .worker-information > h5, .workers:hover > .worker-information > h6 {
    color: #ffffff;
}
.worker-information {
    padding: 20px;
}
.worker-information > h5 {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #292f36;
    text-transform: uppercase;
}
.worker-information > h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #8d8f92;
    line-height: 26px;
}
.social-network-pages-icons {
    display: flex;
    position: absolute;
    top: 125px;
    left: 60px;
}
.social-network-pages-icons > a {
    text-decoration: none;
}
.social-network-pages-icons > a > img {
    background-color: #3a454d;
    width: 50px;
    height: 50px;
    margin-right: 1px;
}
.social-network-pages-icons > a > img:hover {
    background-color: #15191c;
    opacity: 1;
}



/* Lovely work - section3 */

.section3 {
    background-color: #3a454d;
}
.lovely-work {
    padding: 80px 0 60px;
}
.lovely-work-head {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    border-left: 10px solid #4e5a62;
    padding-left: 15px;
    margin-bottom: 60px;
}
.lovely-work-body-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}
.gallery-pictures {
    padding-bottom: 15px;
    position: relative;
}
.gallery-pictures:hover > .gallery-pictures-hover {
    display: block;
}
.gallery-pictures:hover > img {
    opacity: 0.5;
}
.gallery-pictures-hover {
    display: none;
    position: relative;
}
.gallery-pictures-hover > img {
    position: absolute;
    top: -191px;
    left: 160px;
}
.gallery-pictures-hover > h4 {
    position: absolute;
    top: -62px;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    min-width: 360px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #292f36;
}
.show-me-more-button {
    text-align: center;
}
.show-me-more-button-style {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    width: 150px;
    height: 45px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
}
.show-me-more-button-style:hover {
    background-color: #23b7a4;
    border: 2px solid #23b7a4;
}



/* What we do - section4 */

.what-we-do {
    padding: 80px 0 70px;
}
.what-we-do-head {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #292f36;
    text-transform: uppercase;
    border-left: 10px solid #e1e6ea;
    padding-left: 15px;
    margin-bottom: 70px;
}
.what-we-do-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.what-we-do-body-services {
    width: 260px;
    margin-bottom: 95px;
    text-align: center;
}
.what-we-do-body-services > img {
    width: 50px;
    height: 50px;
    margin-bottom: 35px;
}
.what-we-do-body-services > h5 {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #292f36;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.what-we-do-body-services > h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #8d8f92;
}



/* Features - section5 */

.section5 {
    background-color: #3a454d;
}
.features-section {
    padding-top: 85px;
}
.features-section-head {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    border-left: 10px solid #4e5a62;
    padding-left: 15px;
    margin-bottom: 60px;
}
.features-section-body {
    display: flex;
    justify-content: space-between;
}
.features-section-item-picture {
    margin-bottom: 55px;
}
.features-section-item-information {
    width: 360px;
    margin-bottom: 125px;
}
.features-section-item-information > h3 {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.features-section-item-information > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #dcdfe1;
}



/* Features - section5 */

.stay-in-touch {
    padding: 64px 0 65px;
}
.stay-in-touch-head {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #292f36;
    text-transform: uppercase;
    border-left: 10px solid #e1e6ea;
    padding-left: 15px;
    margin-bottom: 60px;
}
.stay-in-touch-body-map {
    margin-bottom: 60px;
}
.stay-in-touch-body-contact-and-form {
    display: flex;
    justify-content: space-between;
}
/* delete 'width 50%' when form is ready */
.stay-in-touch-body-contact-info {
    max-width: 50%;
}
.stay-in-touch-body-contact-info > h3 {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #292f36;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.stay-in-touch-body-contact-info > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #8d8f92;
    margin-bottom: 40px;
}
.stay-in-touch-body-contact-info > p > span {
    font-weight: 700;
}



/* Footer */

.footer {
    background-color: #3a454d;
}
.footer-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 95px;
}
.footer-copyright > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #ffffff;
}
.footer-icons > a {
    text-decoration: none;
}